<!DOCTYPE html>
<html lang="en">
<!-- <html lang="en" data-layout="topnav"> -->

<head>
    <meta charset="utf-8" />
    <title>Learnify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    
    
</head>

<body>
    <!-- Begin page -->
    <div class="wrapper">

        
        <!-- Sidenav Menu Start -->
        <app-menu></app-menu>
        <!-- Sidenav Menu End -->

        <!-- Topbar Start -->
        <app-header></app-header>
        <!-- Topbar End -->

        
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="page-content">

            <div class="page-container">

                <div class="page-title-box">
                    
                    <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-2">
                        <div class="flex-grow-1">
                            <h4 class="font-18 mb-0">Categorie</h4>
                        </div>

                        <div class="text-end">
                            <ol class="breadcrumb m-0 py-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Modifier</a></li>
                                
                                
                                <li class="breadcrumb-item active">Categorie</li>
                            </ol>
                        </div>
                    </div>
                    
                </div>

               <!-- end row -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            
                            <div class="card-header">
                                
                                <h5 class="card-title">Modifier Categorie</h5> 
                                
                            </div>

                            <div class="card-body pt-2">
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-lg-2 col-form-label">Titre</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" placeholder="Titre" id="example-text-input">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-search-input" class="col-lg-2 col-form-label">Description</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="search" placeholder="Description" id="example-search-input">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-email-input" class="col-lg-2 col-form-label">Image</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="file" placeholder="Image" id="example-email-input">
                                    </div>
                                </div>
                                
                                <div class="button-list">
                                    <a href="lcg"><button class="btn btn-primary"> <span class="mdi mdi-arrow-left"></span>Retour</button></a>
                                    <button type="submit" class="btn btn-warning">Modifier</button>
                                </div>
                                       
                                
                            
                            </div> <!-- end card-body -->
                        </div> <!-- end card -->
                    </div><!-- end col -->
                </div><!-- end row -->

 <!-- end row -->
            </div> <!-- container -->


            <!-- Footer Start -->
            <app-footer></app-footer>
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

    

    

</body>


</html>