<!DOCTYPE html>
<html lang="en">
<!-- <html lang="en" data-layout="topnav"> -->

<head>
    <meta charset="utf-8" />
    <title>Learnify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    
    
</head>

<body>
    <!-- Begin page -->
    <div class="wrapper">

        
        <!-- Sidenav Menu Start -->
        <app-menu></app-menu>
        <!-- Sidenav Menu End -->

        <!-- Topbar Start -->
        <app-header></app-header>
        <!-- Topbar End -->

        
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="page-content">

            <div class="page-container">

                <div class="page-title-box">
                    
                    <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-2">
                        <div class="flex-grow-1">
                            <h4 class="font-18 mb-0">Cour</h4>
                        </div>

                        <div class="text-end">
                            <ol class="breadcrumb m-0 py-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Ajouter</a></li>
                                
                                
                                <li class="breadcrumb-item active">Cour</li>
                            </ol>
                        </div>
                    </div>
                    

                    
                </div>

               <!-- end row -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Ajouter Cour</h5>
                            </div>

                            <div class="card-body pt-2">
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-lg-2 col-form-label">Nom</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" placeholder="nom" id="example-text-input">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-search-input" class="col-lg-2 col-form-label">Prenom</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="search" placeholder="prenom" id="example-search-input">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-email-input" class="col-lg-2 col-form-label">Email</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="email" placeholder="Email" id="example-email-input">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-lg-2 col-form-label">Mot de passe</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="password" placeholder="Mot de passe" id="example-password-input">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-number-input" class="col-lg-2 col-form-label">Role</label>
                                    <div class="col-lg-8">
                                        <select class="form-select mb-3">
                                            <option selected>Choisir</option>
                                            <option value="1">Admin</option>
                                            <option value="2">Sous_Admin</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <button type="submit" class="btn btn-primary">Ajouter</button>
                            
                            </div> <!-- end card-body -->
                        </div> <!-- end card -->
                    </div><!-- end col -->
                </div><!-- end row -->

 <!-- end row -->
            </div> <!-- container -->


            <!-- Footer Start -->
            <app-footer></app-footer>
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

    <!-- Theme Settings -->
   

    

</body>


</html>